# Ignore the virtual environment directory
.venv/

# Ignore VSCode settings
.vscode/

# Byte-compiled / compiled files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Synology system files
.DS_Store

# Windows system files
Thumbs.db

# Python packaging files
*.egg
*.egg-info/
dist/
build/

# Exclude configuration files
mail_config.yaml
mail_sorting_rules.yaml
*.yml
test.py
